@{
    ViewData["Title"] = "Please take a minute to view our Charities";
}
<h2><em>@ViewData["Title"]</em></h2>

<div class="charities">
    <br>
    <p>
        Mustang Alley is proud to support local Charities. We support the following charities in various ways over the years.
        <br><br>
        All of the proceeds of the T shirt sales on site at Mustang Alley go directly to one of the organizations below. This year, 2018, we will be supporting Operation Good Cheer, but felt it was important to share the information for JDRF to rally support for them as well!
    </p>
    <br>

    <div class="row" style="padding-top: 3%">
        <div class="col-lg-5">
            <div class="well well-lg">
                <h2 style="padding-bottom: 2%"><em>JDRF</em></h2>
                <p>
                    JDRF is the leading diabetes foundation funding T1D research. JDRF’s goal is to progressively remove the impact of T1D from people’s lives until we achieve a world without T1D. JDRF collaborates with a wide spectrum of partners and is the only organization with the scientific resources, regulatory influence, and a working plan to better treat, prevent, and eventually cure T1D.
                    <br /><br />
                    JDRF is currently sponsoring $530 million in scientific research in 17 countries. In 2012 alone, JDRF provided more than $110 million to T1D research.
                </p>
                <br>
                <a href="http://www.jdrf.org/about/" target="_blank">Click here to learn more about JDRF</a>
            </div>
        </div>
        <div class="col-lg-6 col-lg-offset-1 ">
            <div class="well well-lg">
                <h2 style="padding-bottom: 2%"><em>Operation Good Cheer</em></h2>
                <p>
                    This entirely volunteer Christmas gift-giving program, sponsored and coordinated by Child and Family Services, Inc. State Office, began in 1971 by individuals who wanted to make a difference in the lives of children who reside in foster care. Recipients include infants, children, teenagers, and adults with disabilities. Over 5,000 children and youth are provided with gifts each year to open on Christmas morning and since 1971 more than 87,000 participants have had their Christmas wishes come true as a result of Operation Good Cheer volunteer efforts. Thousands of generous volunteers gather annually to participate in Operation Good Cheer. <br /><br />Donor groups and individuals purchase and wrap Christmas gifts from a child's "Wish List". At donor sites, these gifts are picked up and transported by volunteer trucking companies and their drivers to a centrally located airport. Pilots and drivers with their aircraft and vehicles transport the gifts to local airports across Michigan. At each airport, agency volunteers gather the gifts and deliver them to the children and youth in foster care. This impressive display of generosity provides thousands of youth, some of whom would not receive anything otherwise, with gifts and the joy of knowing there are people who care.
                </p>
                <br>
                <a href="http://www.cfsm.org/operation-good-cheer" target="_blank">Click here to learn more about Operation Good Cheer</a>
            </div>
        </div>
    </div>
</div>

