<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2943.441959202137!2d-83.12519248431947!3d42.46088813672021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824ceff9405bbef%3A0xb460db0967951589!2sE+9+Mile+Rd+%26+Hilton+Rd%2C+Ferndale%2C+MI+48220!5e0!3m2!1sen!2sus!4v1463505095305"
            width="800" height="600"
            style="padding-top: 5%; max-width: 80%; max-height: 80%;"
            frameborder="0" style="border: 0" allowfullscreen></iframe>
</div>
