@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<h2>@ViewData["Title"]</h2>

<div class="faqs">
    <h3><em>What is Mustang Alley?</em></h3>
    <ul>
        <li>Mustang Alley is one of the world's largest single day gatherings of Mustangs. Mustang Alley occurs on the Third Saturday of August on 9 Mile at Woodward in Ferndale, MI. The event is a celebration of everything Mustang. Any Mustang, whether it came from Dearborn, San Jose, New Jersey or Flat Rock is welcome to attend and participate. The show starts at Woodward and stretches East down 9 Mile. You can display your pony with nearly a thousand others. View multiple displays from Ford Performance and our aftermarket manufactures - also, did we mention the Woodward Dream Cruise also happens on this day?</li>
    </ul>

    <h3><em>How do I register for Mustang Alley?</em></h3>
    <ul>
        <li>
            If you intend to Register Your Vehicle only, hover over the menu item Register Your Vehicle in the right corner, and click on it, fill out all of the requested information and click submit.
        </li>
        <br/>
        <li>
            If you intend to Volunteer (bringing a vehicle or not), hover over the menu item Volunteer in the right corner, click on it, fill out all of the requested information and click submit.
        </li>
    </ul>

    <h3><em>Where is Mustang Alley?</em></h3>
    <ul>
        <li>You can find directions to the event in the directions tab at the top or by clicking <strong><a href="@Url.Action("Directions", "Home")">here</a></strong>.</li>
    </ul>

    <h3><em>Who and when do I pay?</em></h3>
    <ul>
        <li>Payment is due on Saturday when you arrive at the Alley. Your entry fee is paid directly to the City of Ferndale. There will be a representative from the city to collect your $20. Please, cash only - the city cannot accept checks or credit/debit cards.</li>
    </ul>

    <h3><em>Do I have to drive a Mustang to park at the event?</em></h3>
    <ul>
        <li>Yes.  Driving a Mustang to the Track event and Mustang Alley is a requirement!  We occasionally look the other way if you have a Capri with a nicely drawn horse in the grill. we also make exceptions for the Plant Tour.  We are interested in getting as many of our participants into the plant tour as possible, so if you want to car pool and arrive with 10 people in your Fiesta - while we don't recommend it - as long as it's a Ford product you may bring it to the plant tour.</li>
    </ul>
</div>

