<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" style="height: 30%; max-height: 30%;">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/VTVL2634_HR.jpg" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/ford_performance.jpg" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/darkblue.jpg" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/mustang-line-lock.JPG" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/cobra.jpg" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/bullitt_dark.jpg" class="img-responsive" />
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container" style="padding-top: 3%; width: auto">

    @if (DateTime.Now > new DateTime(2017, 4, 1))
    {
        <div class="row" style="padding-bottom: 2%">
            @*<div>
                    <h2 style="padding-bottom: 1%">
                        <em>Mustang Enthusiasts</em>
                    </h2>
                    <strong>
                        <p>2016 Mustang Alley registration is FULL!! That means for the first time we have to close registration before the event.  For everyone registered as of 7/25 – do not worry, your spot is secure.  If your plans change and cannot attend, then please send us a note via Contact Us. While we do not want you to miss the event – you would be opening a spot for someone else. Unfortunately for anyone not already registered, we are not able to provide ‘drive-up’ registrations this year.</p>
                        <p>You can go ahead and register, but will be wait-listed. If we have enough cancellations we will contact you directly. Thanks for your overwhelming interest and we are excited to see you on 8/20!</p>
                        <p style="padding-top: 1%">Registered Car parking will begin at 7am, and after 10am all waitlisted and drive up participants will begin parking. </p>
                    </strong>
                </div>
            *@
            @*<div>
                    <h2 style="padding-bottom: 1%; padding-top: 1%">
                        <em>Has it been a year already?</em>
                    </h2>
                    <p>Time flies and it's time to prepare for the 18th annual Mustang Alley! We apologize for the delay in getting the site back up and running but here it is! Registration is now open. Click the registration link in the top right corner to sign up!</p>
                    <p>We regret to inform you that this year's program will be a shortened event. Flat Rock Assembly Plant, Home of the Mustang, is going through some major changes this year and we were unable to secure the date for the Plant tour. The Dearborn Development Center, the usual location for the Mustang Alley Track Experience, is getting a face lift and having new drive surfaces installed. Due to the construction work, we are unable to host an event at the track this year.</p>

                    <p>We look forward to seeing all of you on August 20th at Mustang Alley on 9 mile at Woodward!</p>
                </div>*@
            <div>
                <h2 style="padding-bottom: 1%; padding-top: 1%">
                    <em>Registration will open for 2017 Mustang Alley on May 1, 2017</em>
                </h2>
                <p>Please be patient while we work on upgrades and finalize event details so that we may provide the most memorable event possible.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="well well-lg">
                    <h2 style="padding-bottom: 2%"><em>Rules for this year's event</em></h2>

                    <li style="padding-bottom: 8px;">The registration period is from now to August 19, 2016. Ensure you fill out all required fields so that we may contact you with logistics information prior to Dream Cruise weekend. There are changes in this year's event versus what many of you have experienced in past years.</li>
                    <li style="padding-bottom: 8px;">You must use a valid E-mail address that can be verified to register.</li>
                    <li style="padding-bottom: 8px;">Gates open for parking at 7:00 am.</li>
                    <li style="padding-bottom: 8px;">Parking will be first come first serve - With the exception of the Snake Pit, there will be no designated lots for clubs or specific models this year .The City of Ferndale collects a $20 fee to park in Mustang Alley, to be paid at the entrance to Mustang Alley.</li>
                    <li style="padding-bottom: 8px;">Participants will be allowed to cruise in and out of Mustang Alley however you cannot reserve your space.</li>
                    <li style="padding-bottom: 8px;">For safety reasons, when exiting Mustang Alley you must be escorted by a parking attendant.</li>
                    <li style="padding-bottom: 8px;">Security will be provided during the entire event for those who choose to wander about.</li>

                </div>
            </div>
            <div class="col-lg-5 ">
                <div class="well well-lg">
                    <h2 style="padding-bottom: 2%"><em>New rules this year</em></h2>
                    <li style="padding-bottom: 20px">We require your Phone number and License Plate number this year on the registration form. It will assist us in contacting you should an emergency situation arise with your vehicle at the Alley. As with all Mustang Alley data - we will not share this information with ANYONE - for any reason, ever. We will only use it to contact you should an emergency occur.</li>
                    <li style="padding-bottom: 20px">Questions can be submitted via email using the "Contact Us" button on the menu. We look forward to seeing all of you there. Enjoy Mustang Alley!</li>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
            <h2 style="padding-bottom: 1%; padding-top: 1%">
                <em>2017 Mustang Alley is quickly approaching!</em>
                <br /><br />
                <em>This year we will have some exciting changes that we look forward to sharing soon!</em>
            </h2>
            <p>Please be patient while we make some updates to our page to improve the registration process for this year.  We will let you know as soon as registration opens up for our 19th Annual Mustang Alley, around April 1, 2017, until then, please enjoy our photos from this and previous years!</p>
        </div>
    }
</div>