@{
    ViewData["Title"] = "Confirmation";
}

<div>
    <h2>Registration Succesful!</h2>

    <p style="padding-top: 3%">
        Thank you for signing up for Mustang Alley.  You should be receiving an email in the next few minutes to the email address you have provided.  We look forward to seeing you in Ferndale on Aug. 19, and hope you enjoy the event!
    </p>
</div>